[submodule "vectornet"]
	path = vectornet
	url = git@git.media.mit.edu:vectornet
[submodule "twisted-twitter-stream"]
	path = twisted-twitter-stream
	url = http://github.com/fiorix/twisted-twitter-stream.git
