@import url(http://fonts.googleapis.com/css?family=Nobile);

html, body, .map { height: 100%; }
body {
    font-family: "Nobile", "Cantarell", "Gill Sans", "Helvetica", sans-serif;
    background: cornsilk;
    overflow: hidden;
}
.map {
    width: 100%;
    position: relative;
}
canvas, .back {
    opacity: 0;
}
.back {
    margin: auto;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 20%;
    z-index: -2;
}
.back img {
    float: left;
    opacity: 0.8;
}
.back div {
    height: 100%;
    width: 0%;
    opacity: 1;
}

.cell {
    position: absolute;
    margin: 1px;
    z-index: 2;
    width: auto;
    height: auto;
    left: 50%;
    top: 40%;
    max-width: 20%;
    line-height: 0px;
    opacity: 0;
}
.cell.off     { display: none; }
.cell.old     { z-index: 0; }
.cell.concept { padding: 2pt; }

.cell:hover {
    z-index: 4;
    background-color: #ffe;
    border: 1px solid #aa8;
    margin: 0px;
    opacity: 1 !important;
}

.cell.tweet {
    background-color: rgba(0, 0, 0, 0.1);
    width: 15em;
    height: auto;
}
.cell.tweet.old {
    background: transparent url(comment.png) no-repeat top left;
    height: 20px;
    width: 24px;
}
.cell.tweet:hover {
    background: #ffe none;
    height: auto;
    width: 15em;
}

.cell *           { line-height: 120%; }
.cell .header     { color: white; background-color: #777; }
.cell.tweet .text { text-align: left !important; }

.cell                 .header   { display: block;  }
.cell.old             .header   { display: none;   }
.cell.user            .header   { display: none;   }
.cell.tweet.old       .header   { display: none;   }
.cell.tweet:hover     .header   { display: block;  }

.cell                 .text     { display: block;  }

.cell.user            span      { display: none;   }
.cell.user:hover      span      { display: none;   }
.cell.tweet.old       span      { display: none;   }
.cell.tweet.old:hover span      { display: inline; }

.cell.user            img       { display: inline; }
.cell.concept         img       { display: none;   }
.cell.tweet           img       { display: none;   }

.cell                 .collapse { display: none;   }
.cell:hover           .collapse { display: block;  }
