@import url(http://fonts.googleapis.com/css?family=Nobile);

body {
    font-family: "Nobile", "Cantarell", "Gill Sans", "Helvetica", sans-serif;
    font-size: 10pt;
    background: cornsilk;
    width: 100%;
    overflow: hidden;
}

.back {
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -2;
    opacity: 0;
}
.back img {
    float: left;
    opacity: 0.8;
}
.back div {
    height: 100%;
    width: 0%;
    opacity: 1;
}

.cell {
    position: absolute;
    margin: 1px;
    z-index: 2;
    height: auto;
    line-height: 120%;
    opacity: 0;
}
.cell.off     { display: none; }
.cell.old     { z-index: 0; }
.cell.user    { width: auto; }
.cell.concept { width: auto; }

.cell:hover {
    z-index: 4;
    background-color: #ffe;
    border: 1px solid #aa8;
    margin: 0px;
    opacity: 1 !important;
}

.cell.tweet {
    background-color: rgba(0, 0, 0, 0.1);
    width: 15em;
    height: auto;
}
.cell.tweet.old {
    background: transparent url('comment.png') no-repeat top left;
    height: 20px;
    width: 24px;
}
.cell.tweet:hover {
    background: #ffe none;
    height: auto;
    width: 15em;
}

.cell .text { line-height: 120%; }

.cell .header {
    color: white;
    background-color: #777;
    display: block;
}
.cell.old             .header { display: none; }
.cell.user            .header { display: none; }
.cell.user:hover      .header { display: none; }
.cell.tweet:hover     .header { display: block; }
.cell.tweet.old       .header { display: none; }
.cell.tweet.old:hover .header { display: block; }

.cell                 span { margin: 0.5ex; }
.cell.user            span { display: none; }
.cell.user:hover      span { display: none; }
.cell.tweet.old       span { display: none; }
.cell.tweet.old:hover span { display: inline; }

.cell         img { 0.5ex 0.5ex 0ex 0.5ex; }
.cell.user    img { display: inline; }
.cell.concept img { display: none; }
.cell.tweet   img { display: none; }

.cell       .collapse { display: none; }
.cell:hover .collapse { display: block; }

.dem { color: #00f; }
.rep { color: #f00; }
