@import url(http://fonts.googleapis.com/css?family=Tangerine);
@import url(http://fonts.googleapis.com/css?family=Cantarell);

body {
    font-family: "Cantarell", "Gill Sans", "Helvetica", sans-serif;
    font-size: 10pt;
    background: cornsilk;
    width: 100%;
    overflow: hidden;
}

#output {
    font: bold 20pt "Tangerine", "Helvetica", sans-serif;
}

.back {
    position: fixed;
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.cell {
    position: absolute;
    margin: 1px;
    z-index: 1;
    height: auto;
}
.cell.off     { display: none; }
.cell.old     { z-index: auto; }
.cell.user    { width: auto; }
.cell.concept { width: auto; }

.cell:hover {
    z-index: 3;
    background-color: #ffe;
    border: 1px solid #aa8;
    margin: 0px;
}
.cell.user:hover {
    background: transparent;
    border: none;
    margin: 1px;
}

.cell.tweet {
    width: 15em;
    height: auto;
    z-index: 2;
}
.cell.tweet.old {
    background: #ddd url('comment.png') no-repeat top left;
    width: 25px;
    height: 20px;
    z-index: -1;
}
.cell.tweet.old:hover {
    background-image: none;
}

.cell .header {
    font-size: 80%;
    color: white;
    background-color: #777;
    display: block;
}
.cell.old             .header { display: none; }
.cell.user            .header { display: none; }
.cell.user:hover      .header { display: none; }
.cell.tweet:hover     .header { display: block; }
.cell.tweet.old       .header { display: none; }
.cell.tweet.old:hover .header { display: block; }

.cell     .text { text-shadow: #fff 0px 0px 1em, #fff 0px 0px 1em, #fff 0px 0px 1em, #fff 0px 0px 1em, #fff 0px 0px 1em; }
.cell.old .text { text-shadow: none; }

.cell                 span { margin: 0.5ex; }
.cell.user            span { display: none; }
.cell.user:hover      span { display: none; }
.cell.tweet           span { font-size: 75%; }
.cell.tweet.old       span { display: none; }
.cell.tweet.old:hover span { display: inline; }

.cell         img { 0.5ex 0.5ex 0ex 0.5ex; }
.cell.user    img { display: inline; }
.cell.concept img { display: none; }
.cell.tweet   img { display: none; }

.cell       .collapse { display: none; }
.cell:hover .collapse { display: block; }

.dem { color: #00f; }
.rep { color: #f00; }
