body {
    font-family: "Gill Sans", "Helvetica", sans-serif;
    font-size: 10pt;
    background-color: #ddd;
    width: 100%;
    overflow: hidden;
}

.cell {
    position: absolute;
    margin: 1px;
}

.off {
    display: none;
}

.cell .header {
    font-size: 80%;
    color: white;
    background-color: #777;
    display: none;
}

.tweet-old {
    background:#ddd url('comment.png') no-repeat top left;
    width: 25px;
    height: 20px;
    z-index: -1;
}

.tweet-old:hover {
    width: 15em;
    height: auto;
    background-image: none;
}

.tweet-old .header {
    display: none;
}

.tweet-old:hover .header {
    display: block;
}

.tweet-old span {
    display: none;
}

.tweet-old:hover span {
    display: inline;
}

.tweet span {
    font-size: 75%;
}

.new {
    z-index: 1;
    background-color: #fff;
    border: 1px solid #77a;
    height: auto;
}

.tweet-new {
    width: 15em;
    height: auto;
    z-index: 2;
}

.user {
    width: auto;
}

.concept {
    width: auto;
}

.cell:hover {
    z-index: 3;
    background-color: #ffe;
    border: 1px solid #aa8;
    margin: 0px;
}

.tweet:hover {
    width: 15em;
    height: auto;
}

.tweet:hover .header {
    display: block;
}

.user:hover .header {
    display: block;
}

.new .header {
    display: block;
}

.user .header {
    display: none;
}

.old {
    border: none;
}

.cell span {
    margin: 0.5ex;
}


.cell img {
    margin-top: 0.5ex;
    margin-left: 0.5ex;
    margin-right: 0.5ex;
}

.user span {
    display: none;
}

.user img {
    display: inline;
}

.concept img {
    display: none;
}

.tweet img {
    display: none;
}

